$body-bg: #212121;
$main-color: #3fb0c6;
$txt-color: #f8f8f8;

$white: #f4f4f4;
$black: #1c1b1b;

$box-shadow: rgba(70, 70, 78, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;